<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   
  <div class="field">
    <%= f.label :STATE %>
    <%= f.text_field :stats %>
  </div>
 -->
  <%= select(:transaction, :stats, [['정상거래', '정상'], ['이상거래', '이상']]) %>
 
  <div class="field">
    <%= f.label :CID %>
    <%= f.text_field :cid %>
  </div>

  <div class="field">
    <%= f.label :MAC %>
    <%= f.text_field :mac %>
  </div>

  <div class="field">
    <%= f.label :단말기ID %>
    <%= f.text_field :posid %>
  </div>

  <div class="field">
    <%= f.label :거래처ID %>
    <%= f.text_field :correspondentid %>
  </div>

  <div class="field">
    <%= f.label :카드번호 %>
    <%= f.text_field :cardnum %>
  </div>

  <div class="field">
    <%= f.label :주문번호 %>
    <%= f.text_field :ordernum %>
  </div>

  <div class="field">
    <%= f.label :거래시간 %>
    <%= f.datetime_select :txtime %>
  </div>

  <div class="field" hidden> 
    <%= f.text_field :uuid, :value => 'hardcodeduuid' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>