<p id="notice"><%= notice %></p>
<div>
<div id="header">
  <%= image_tag "shinhan_logo.png" %><span>이상거래 관리 시스템</span>
</div>
<div>
<p class="black_list_title">거래내역</p>
</div>

<table id="black_list_th">
  <thead >
    <tr>
      <th>No.</th>
      <th>State</th>
      <th>CID</th>
      <th>MAC</th>
      <th>UUID</th>
      <th>카드번호</th>
      <th>거래시간</th>
      <th class="textCenter">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each_with_index do |transaction,index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= transaction.stats %></td>
        <td><%= transaction.cid %></td>
        <td><%= transaction.mac %></td>
        <td><%= transaction.uuid %></td>
        <td><%= transaction.cardnum %></td>
        <td><%= transaction.txtime %></td>
        <td>
          <%= link_to "상세", transaction, class: "button button1" %>
          <%= link_to "수정", edit_transaction_path(transaction), class: "button button1" %>
          <%= link_to "삭제", transaction, method: :delete, data: { confirm: '이상 거래를 삭제하시겠습니까?' } , class: "button button1" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "거래내역 등록", new_transaction_path, class: "button button2" %>
</div>

<br>
<div>
<p class="black_list_title">BlackList</p>
<select id="searchBox">
  <option value="fdsGetwithid" selected="selected">CID</option>
  <option value="fdsGetwithmac">MAC</option>
  <option value="fdsGetwithuuid">UUID</option>
</select>
<input type="text" name="transaction[accountnum]" id="search_value">
<%= link_to "검색", @search, class: "button button2" %>
</div>
<br>
<table id="black_list_th">
  <thead >
    <tr>
      <th>No.</th>
      <th>CID</th>
      <th>MAC</th>
      <th>UUID</th>
      <th>거래시간</th>
      <th>등록기관</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>

      <% @parsed_hyperledger_result_list.each_with_index do |row, index| %>
        <tr>
          <% if !row["cid"].empty? %>
            <td><%= index + 1%></td>
            <td class="view_cid"><%= row["cid"] %></td>
            <td><%= row["mac"] %></td>
            <td><%= row["uuid"] %></td>
            <td><%= row["finalDate"] %></td>
            <td><%= row["finalTime"] %></td>
            <td><button class="button button1 get_cid">삭제</button></td>
          <% end %>
        </tr>
      <% end %>
   </tbody>
</table>

<br>
<%= link_to "새로고침", @reload_currentPage, class: "button button2" %>
</div>

<!--HyperLedger FraudEntry-->
<!-- <script>
$(document).ready(function() {
  $('#btnDel').click(function(event){
 
     var cidfordelete = $("#hyperledger_cid").text();
     var sendInfo = {"jsonrpc": "2.0","method": "query","params":{"type":1,"chaincodeID":{"name":"mycc"},"ctorMsg":{ "args":["fdsDeleteWithCid",cidfordelete]},"secureContext":"admin"},"id":1};

     $.ajax({
         type: "POST",
         url: "http://192.168.150.129:7050/chaincode",
         data: JSON.stringify(sendInfo),
         contentType: "application/json; charset=utf-8",
         success: function (msg) {
             if (msg) {
                alert("called!!")
             } else {
                 alert("Cannot load Hyperledger Data!");
             }
         }
     });

    event.preventDefault(); // Prevent link from following its href
  });
});
</script>
 -->
<script>
$("tr").hover(function () { $(this).addClass("hilite"); }, 
  function () { $(this).removeClass("hilite"); });

$(".get_cid").click(function() {
    var row = $(this).closest("tr");    // Find the row
    var cidfordelete = row.find(".view_cid").text(); // Find the text
    var sendInfo = {"jsonrpc": "2.0","method": "invoke","params":{"type":1,"chaincodeID":{"name":"mycc"},"ctorMsg":{ "args":["fdsDeleteWithCid",cidfordelete]},"secureContext":"admin"},"id":1};

     $.ajax({
         type: "POST",
         url: "http://192.168.150.129:7050/chaincode",
         data: JSON.stringify(sendInfo),
         contentType: "application/json; charset=utf-8",
         success: function (msg) {
             if (msg) {
                alert("BlackList에서 삭제 되었습니다!!")
                location.reload();
             } else {
                alert("BlackList에서 삭제 하는 중 에러가 발생하였습니다!!");
             }
         }
     });

});
</script>
