<p id="notice"><%= notice %></p>

<p>
  <strong>CID:</strong>
  <%= @black_list.cid %>
</p>

<p>
  <strong>MAC:</strong>
  <%= @black_list.mac %>
</p>

<p>
  <strong>UUID:</strong>
  <%= @black_list.uuid %>
</p>

<p>
  <strong>거래시간:</strong>
  <%= @black_list.transcationtime %>
</p>

<p>
  <strong>등록기관:</strong>
  <%= @black_list.registeredby %>
</p>

<button class="button1"><%= link_to '수정', edit_black_list_path(@black_list) %></button>
<button class="button1"><%= link_to '뒤로가기', black_lists_path %></button>
  